APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=u104074221_BikeRental
DB_USER=u104074221_supr_admin
DB_PASS=YOUR_PASSWORD

JWT_SECRET=ca050b61db3c3602cd745c7c2e4660c396981747f85e8c40a58060bef13f04f6
JWT_ISSUER=bikerental-api
JWT_AUDIENCE=bikerental-clients
JWT_ACCESS_TTL_SECONDS=900
JWT_TTL_SECONDS=3600

# CORS settings
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_CREDENTIALS=false

# Phone OTP Settings
OTP_LENGTH=6
OTP_TTL_SECONDS=600
OTP_MAX_ATTEMPTS=5
OTP_LOG_TO_FILE=true
OTP_RETURN_CODE_IN_RESPONSE=true
OTP_ENABLE_FIXED_TEST_OTP=false
OTP_TEST_CODE=123456
OTP_TEST_PHONES=919109322140
